* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}

body {
    margin: 0 10vw;
}

header {
    background-color:white;
    width: 80vw;
    flex: auto;
    display: flex;
   justify-content: center;
    /* position: fixed; */
    opacity: 0.98;
}

header .left {
    display: flex;
    /* margin-left: 380px; */
}

header img {
    width: 100px;
    height: 90px;
}
.content li a{
    color: black;
}

header li a:hover {
    color: blue;
}

header p {
    display: flex;
    align-items: center;
    font-size: xx-large;
    font-family: 'Poppins', sans-serif;
}

header .content {
    display: flex;
    justify-content: space-around;
    align-content: flex-end;
    text-align: right;
    width: 20vw;
}

header .content a {
    text-decoration: none;
}

header ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header ul li {
    list-style: none;
}

#container{
    padding: 20px;
    display: flex;
}

  #form{
      padding: 30px;
  }
 #form input{
    border: 2px solid black;
     border-radius: 5px;
    width: 50vh;
    padding: 0.5rem;
    margin: 0.8rem;
 }

 #form button{
     width: 35%;
     padding: 15px 20px;
     margin: 15px 120px;
     border-radius: 5px;
     background-color: #4f46e5;
     color: white;
     border: 0px;
 }
 #form button:hover{
    cursor: pointer;
    background-color: #1b11e4;
 }
#tx{
    font-size: 12px;
}
 .form p{

    font-size: 20px;
    display: block;
 }
 #tx:hover{
    display: block;
    cursor: pointer;
    color: #1b11e4;
 }
 #im img{

    height: 100vh;
 }
 #im a{
    display: none;
 }

 #button p{
    margin: 50px;
    padding: 15px;
    background-color: #407bff;
    height: 21px;
    color: white;
    width: 80px;
    text-align: center;
    border-radius: 5px;
 }
 #button{
    text-decoration: none;
 }


 .button{
  
    margin-top: 15px;
    margin-left: 100px;
 }